.register-container {
  display: grid;
  place-items: center;
  width: 100vw;
  margin-top: 1%;
  box-sizing: border-box;
  padding-top: 0;
  background-color: #f5f5f5;
}


.register-form {
  width: 40%;
  max-width: 500px;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: grid;
  gap: 0.5rem;
  justify-self: center;
}


.register-form h2 {
  text-align: center;
  margin: 0 0 1rem 0;
}


mat-form-field {
  width: 100%;
}


button[type="submit"] {
  width: 100%;
  font-size: 1rem;
}


.register-form p {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
}