body, html {
  margin: 0;
  height: 100%;
}

.left, .right {
  height: 100vh;
  float: left;
}

.left {
  width: 65%;
  background-color: #f0f0f0;
}

.right {
  width: 35%;
  background-color: #f0f0f0;
}