<div class="login-container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="login-form" >
    <h2>Login</h2>

    <div class="form-fields">
      <mat-form-field appearance="fill">
        <mat-label>username</mat-label>
        <input matInput name="username" #username="ngModel" ngModel required>
         <mat-error *ngIf="username.invalid && (username.touched || username.dirty)">
          username is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" #password="ngModel" ngModel required>
        <mat-error *ngIf="password.invalid && (password.touched || password.dirty)">
          Password is required.
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
